*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
}


body{
    color: #666666;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.80857;
    font-weight: normal;
   
}
section{
    min-height: 75vh;
   
}
@media (max-width:400px)
{
    section
    {
         overflow-x: hidden;
    }
   
}

.container{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.main header
{
    padding: 27px 30px;
    width: 100%;
    background: #ffffff;
    height: 109px;
}
.main header .container{
display: flex;
justify-content: space-between;
align-items: center;
gap: 25px;
  
}
.main header .container .logo{
    margin-right: 15px;
}

.main header nav{
display: flex;
align-items: center;
 
    background-attachment: fixed;

}
.main header nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    position: relative;
    right: 100px;
  
}

.main header nav ul li{
    padding:15px 26px;
   

}
.active{
    background-color: var(--red);
    border-radius: 30px;
    

}

.active a{
    color: white;
}

.main header nav ul li a{
    text-decoration: none;
   font-size: 17px;
   
    text-transform: uppercase;

}

.main header nav ul li:hover{
    background-color: var(--red);
    border-radius: 30px;
}
.main header nav ul li:hover  a{
    color: white;
}
.main header nav .icon{
    display: flex;
    align-items: center;
   
}
.main header  span{
    background: url("images/menu_icon.png");
    width: 48px;
  display: none;
    background-repeat: no-repeat;
    height: 30px;
    cursor: pointer;
    
}
 
@media(max-width:1067px)
{
    .main header nav ul{
        right: 25px;
    }
}
@media (min-width:1028px){
    .main header nav .icon i{
        padding:0 25px;
    }
}
@media (max-width:1027px)
{
    .main header nav ul li a{
        font-size: 16px;
    }
    .main header nav ul li{
        padding: 5px 10px;
    }
    
    .main header nav .icon i{
        padding:0 10px;
    }
   
   

}
@media (max-width:768px)
{
    .main header{
        background-color: var(--white);
        box-shadow: 5px 5px 25px var(--danger);
    }
    .main header .container nav i{
        display: none;
    }
    
    .main header  span
    {
        display: block;
    }
    .main header .container nav ul {
        display: none;
    }
    .main header span:hover + ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 50%;
        top: 57.5%;
        transform: translate(-50%, -121%);
        background-color: black;
        width: 95%;
        padding: 20px;
        z-index: 2;
        
    }
    .main header span:hover + ul li{
        width: 100%;
        text-align: center;
       
    }
    .main header span:hover + ul li a{
        color: white;
    }
 
}
/*end header*/
/*start landing*/


.landing .container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   position: relative;

}   
 

.landing .container .left-content h3
{
    font-size: 70px;
    font-weight: 800;
    color: #2b2b2b;
    padding-bottom: 25px;
    line-height: 1.2;
}
@media (max-width:768px)
{
 .landing .container{
     flex-wrap: wrap;
    
 }


}
@media (max-width:468px)
{
 
 .landing .container .left-content h3{
    font-size: 40px;
 }


}
.landing .container .left-content .image-top-icon{
    margin-top: 25px;
}
.more-info{
    position: relative;
    text-transform: uppercase;
    display: block;
    font-size: 20px;
    color: var(--dark);
    cursor: pointer;
    transition: 0.4s ease;
    width: 200px;
    font-weight: 800;
}
.more-info:hover{
    color: var(--danger);
}
.more-info::before
{
    content: "";
    position: absolute;
    
    background-color: var(--danger);  
        top: 50%;
        transition: 1.4s;
       left: 98px;
       opacity: 0;
       width: 0;
       height: 0;
  
}
.more-info:hover::before
{
    width: 150px;
    height: 2px;
    left: 55%;
    opacity: 1;
  
}

@media (max-width:300px)
{
    .more-info
    {
        font-size: 10px;
        margin-left: 25px;
    }
}

.landing .container .left-content{
  
    height: 100%;
    margin-left: 40px;
    
}
.landing .container .left-content .text-content{
  position: relative;
  top: 55px;
}
  .scrol
{
    display: flex;
    gap: 1px;
    align-items: center;
    margin-top: 65px;
}
  .scrol i{
    background-color: #3e0bce;
    color: white;
    border-radius: 50%;
    padding: 25px;
    cursor: pointer;
    transition: 0.4s ease;
    font-size: 15px;
    font-weight: bold;

}
 .scrol i:hover
{
    background-color: #f0390f;
}
.landing .container .right-content{
 width:680px;
 margin-right: 40px;
}

.landing .container .right-content img{
    height: auto;
    max-width: 100%;
}
@media (max-width:768px)
{
    .landing .container .right-content{
        margin-top: 48px;
    }
 

}

/*end main1*/
/*start main2*/

.main2{
   
    padding: 45px 0;
    margin-top: 70px;
}
 .title{
    text-align: center;
}
 .title h2{
    font-weight: bold;
    font-size: 40px;
}
.main2{
    display: flex;
    justify-content: center;
}
.main2 .container
{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(320px,1fr));
   gap: 10px;
  justify-content: center;
  margin-top: 30px;
   
}
.main2 .container .box{

    padding: 25px 10px 80px 10px;
    border-radius: 10px;
    
 text-align: center;   
 color: white;  
 background-color: #f0390f;
}
.main2 .container .total-cont  span{
    margin-top: 20px;
}
.main2 .container .total-cont .box.different
{
    background-color: #3e0bce;
}


.main2 .container .box p{
    padding: 25px;
   
}
.main2 .container
a{
    text-decoration: none;
}

/*end skate*/
/*start about */
.main3{
    background: url("images/about_bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  display: flex;
  align-items: center;
  padding-top: 80px;
   
}

.main3 .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 75px;
    
}

.main3 .container .right img{
    height: auto;
    max-width: 100%;
}
.main3 .container .left {
    color: white;
    flex-basis: 45%;
    margin-left: 50px;
   
}
.main3 .container .left span{
    color: white;
}
.main3 .container .left span:hover{
    color: var(--danger);
}
.main3 .container .left p{
    margin-bottom: 15px;
}
.main3 .container .left h3{
    line-height: 1.4;
    font-size: 45px;
    margin-bottom: 40px;
}
@media (max-width:768px)
{
    .main3 .container{
        flex-direction: column;
    }
}

/*end main3*/
/*start main4*/

.main4 .container{
    display: flex;
    align-items: center;
    gap: 25px;
    margin-top: 35px;
    margin-left: 25px;
    margin-right: 25px;
    max-width: 95%;
}
.main4 .container .video img
{
    max-width: 100%;
}

@media (max-width:768px)
{
    .main4 .container{
        flex-direction: column;
    }
}
/*end main4*/
/*start main5*/
.main5{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main5 .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:70px 0;
  
}
.main5 .container .right{
    flex-basis: 30%;
    margin: 0 20px;
  
}
.main5 .container .right h3{
    font-size: 35px;
    font-weight: 800;
    line-height: 1.3;
    color: #2b2b2b;
    margin-bottom: 20px;
}
.main5 .container .right p{
    margin-bottom: 15px;
    line-height: 1.8;
  
}
.main5 .container .left{
  flex-basis: 65%;
 
}
.main5 .container .left img{
    max-width: 100%;
}
@media (max-width:768px)
{
    .main5 .container{
        flex-direction: column-reverse;
    }
}


/*end main5*/
/*start main6*/
.main6{
    background: #3e0bce;
    padding: 90px 0;
}
.main6 .container{
    display: flex;
    gap: 20px;
    justify-content: center;
 

}
.main6  .container .box{
    position: relative;
}
.main6 .testimonial .title {
    margin-bottom: 65px;
}
.main6 .testimonial .title h2,
.main6  .container .box h4,.main6  .container .box p
{
    color: white;
}
.main6  .container .box p{
    margin: 20px;
}
.main6  .container .box:not(.box.box.different){
  
    width: 250px;
    padding: 25px 40px 20px 40px;
    background-color: #f0390f;
    border-radius: 10px;
    text-align: center;

}
.main6  .container .box.different{
    background-color: white;
 
    border-radius: 10px;
    text-align: center;
    width: 400px;
    padding: 25px 40px;
   
}
.main6  .container .box.different p,.main6  .container .box.different h4{
color: black;
}
.main6  .container .box h4{
    margin: 20px;
}
.main6  .container .box img:nth-child(1)
{
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-100%);
    background-color: white;
    width: 80px;
    height: 80px;
    padding: 15px;
}
@media (max-width:768px)
{
   
    .main6  .container
    {
        flex-wrap: wrap;
    }
    .main6  .container .box{
        flex-basis: 100%;
        margin: 25px 0;
      
    }
}

  .out .scrol{
    gap: 0px;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-150%);
}
  .out .scrol i{
    background-color:#f0390f;
    padding: 30px;
    font-size: 33px;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.out .scrol i:first-child{
    position: relative;
    left: 15px;
}
  .out .scrol i:hover{
    opacity: 0.7;
}
/*end main6*/
/*start footer */
.footer{
   padding-top: 120px;
}
.footer .container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer h3{
    font-size: 30px;
    color: #2b2b2b;
}
.footer .container .left {
    border-right: 2px solid #b81717;
   flex-basis: 26%;
    padding: 25px;
}
.footer .container .right{
    flex-basis: 65%;
  margin-left: 15px;
 
}
.footer .container .right .flex{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;

}
.footer .container .right .flex .icon{
    margin-right: 95px;
    display: flex;

}
.footer .container .right .flex .icon i{
  
    background-color: #343334;
    border-radius: 50%;
    color: white;
    padding: 15px;
    width: 40px;
    height: 40px;
  
    transition: 0.4s;  
      margin-left: 10px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
}
.footer .container .right .flex .icon i:hover{
    background-color: #5326d3;
}
.footer .container .right ul{
    list-style: none;
    display: flex;
    align-items: center;

  
}
.footer .container .right ul li{
    padding: 0 18px;
}
.footer .container .right ul li a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    transition: 0.4s ease;
}
.footer .container .right ul li a:hover{
    color: #5326d3;
}
.footer .container form{
    display: flex;
    align-items: center;
}
.footer .container form input[type="text"]
{
 outline: none;
    padding: 15px 40px;
    border: 1px solid #ddd;
    border-radius: 5px;
    opacity: 0.5;
    margin-right: 15px;
}
.footer .container form .submit{
    display: inline-block;
    padding: 15px 70px;
    background-color: #f0390f;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}
@media (max-width:1027px)
{
    .footer .container {
       flex-direction: column;
    }
    .footer .container{
        font-size: 20px;
       
    }
    .footer .container .right{
        flex-basis: 100%;
        text-align: center;
    }

.footer .container .left{
    text-align: center;
    flex-basis: 100%;
}
    .footer .container form{
        flex-direction: column;
    }
    .footer .container form input{
        width: 100%;
        margin:  10px 0;
    }
    .footer .container .left{
        border-right: none;
    }
    .footer .container .right .flex{
        flex-direction: column;
    }
    .footer .container .right .flex .icon{
        justify-content: center;
        margin-right:0;
        flex-wrap: wrap;
    }
    .footer .container .right ul{
        flex-wrap: wrap;
    }
}
footer{
    background-color:#f0390f;
    padding: 25px; 
    text-align: center;
    color: white;
}
footer div p a{
    text-decoration: none;
    transition: 0.4s ease;
    color: white;
}
footer p a:hover{
    color: #3e0bce;
}